<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>Filter.AuthFilter</filter-class>
        <init-param>
            <param-name>avoid-urls</param-name>
            <param-value>/index.jsp,/login.jsp,/aboutus.jsp,/contactus.jsp,/Login,/css/stylesheet.css,
                /css/stylesheet1.css,/css/stylesheet2.css,/css/stylesheetlogin.css,/images/image1.jpg,
                /images/image2.jpg,/images/image3.jpg,/images/image4.jpg,/images/image5.jpg,/webresources</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSalesman</servlet-name>
        <servlet-class>AdminServlets.ViewSalesman</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomer</servlet-name>
        <servlet-class>AdminServlets.ViewCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRoute</servlet-name>
        <servlet-class>AdminServlets.ViewRoute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSalesman</servlet-name>
        <servlet-class>AdminServlets.AddSalesman</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSalesman</servlet-name>
        <servlet-class>AdminServlets.UpdateSalesman</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomer</servlet-name>
        <servlet-class>AdminServlets.UpdateCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>AdminServlets.AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSalesmanCustomer</servlet-name>
        <servlet-class>SalesmanServlets.ViewSalesmanCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmPassword</servlet-name>
        <servlet-class>AdminServlets.ConfirmPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSalesman</servlet-name>
        <url-pattern>/ViewSalesman</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomer</servlet-name>
        <url-pattern>/ViewCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRoute</servlet-name>
        <url-pattern>/ViewRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSalesman</servlet-name>
        <url-pattern>/AddSalesman</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSalesman</servlet-name>
        <url-pattern>/UpdateSalesman</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomer</servlet-name>
        <url-pattern>/UpdateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSalesmanCustomer</servlet-name>
        <url-pattern>/ViewSalesmanCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmPassword</servlet-name>
        <url-pattern>/ConfirmPassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>PaymentSession</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.PaymentSessionLocal</local>
        <ejb-link>PaymentCollection-ejb.jar#PaymentSession</ejb-link>
    </ejb-local-ref>
</web-app>
